{
  "auth": {
    "plugins": {
      "awsCognitoAuthPlugin": {
        "CognitoUserPool": {
          "Default": {
            "PoolId": "",
            "AppClientId": "",
            "Region": ""
          }
        },
        "Auth": {
          "Default": {
            "authenticationFlowType": "",
            "OAuth": {
              "WebDomain": "",
              "AppClientId": "",
              "SignInRedirectURI": "",
              "SignOutRedirectURI": "",
              "Scopes": [
                "email",
                "openid",
                "phone",
                "profile",
                "aws.cognito.signin.user.admin"
              ]
            }
          }
        }
      }
    }
  }
}